.items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  background-color: #232427;
  padding: 20px;
  font-size: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.item h3{
  font-size: 32px;
  margin: 5px 0;
}

.page {
  background-color: #232427;
  padding: 40px;
  display: flex;

  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  transform: scale(0);
  animation: scale 0.3s ease forwards;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 40px;
}

.addBoton {
  background-color: #fc4a4a;
  color: black;
  font-weight: bold;
  border: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.price {
  font-size: 28px;
  margin: 10px 0;
}

.image {
  width: 600px;
  min-width: 600px;
}

.listItem {
  display: flex;
  gap: 10px;
  border-bottom: solid 1px #1a1a1d;
  padding: 10px 0;
}

.listItem h3 {
  margin: 5px 0;
}

@keyframes scale{
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}